h3 Sign Up
form(action='/newAccount', method='post')
	label(for='name') Name
	input(type='text', name='name', required, maxlength='20')
	br
	label(for='email') Email
	input(type='email', name='email', required)
	br
	label(for='password') Password
	input(type='password', name='password', required, maxlength='30')
	br
	br
	input(type='submit', value='Sign Up', class='submit')
	br
br
